/* Defining Special Properties for Small Devices Such as Smartphones */

/* medium to big screens display the header correctly;
  also defining font sizes for headings and paragraphs for
  these sizes */

@include mq($from: tablet) {
    #desktop-header {
        display: getGlobalArrayCSSProperties($global, mediumToLargeDevicesLayout, idDesktopHeader, display);
        align-items: getGlobalArrayCSSProperties($global, mediumToLargeDevicesLayout, idDesktopHeader, align-items);
        justify-content: getGlobalArrayCSSProperties($global, mediumToLargeDevicesLayout, idDesktopHeader, justify-content);
    }
    #desktop-header2 {
        display: getGlobalArrayCSSProperties($global, mediumToLargeDevicesLayout, idDesktopHeader, display);
        justify-content: getGlobalArrayCSSProperties($global, mediumToLargeDevicesLayout, idDesktopHeader, justify-content);
    }
    h1 {
        font-size: getGlobalArrayCSSProperties($global, mediumToLargeDevicesLayout, h1, font-size);
    }
    h2 {
        font-size: getGlobalArrayCSSProperties($global, mediumToLargeDevicesLayout, h2, font-size);
    }
    h3 {
        font-size: getGlobalArrayCSSProperties($global, mediumToLargeDevicesLayout, h3, font-size);
    }
    h4 {
        font-size: getGlobalArrayCSSProperties($global, mediumToLargeDevicesLayout, h4, font-size);
    }
    p {
        font-size: getGlobalArrayCSSProperties($global, mediumToLargeDevicesLayout, p, font-size);
    }
    .heading-paragraphs {
        font-size: getGlobalArrayCSSProperties($global, mediumToLargeDevicesLayout, classHeadingParagraphs, font-size);
    }
    .heading-paragraph-items {
        font-size: getGlobalArrayCSSProperties($global, mediumToLargeDevicesLayout, classHeadingParagraphItems, font-size);
    }
}

/* medium to big screens display the header correctly;
  also defining font sizes for headings and paragraphs for
  these sizes */

/* Defining Special Properties for Small Devices Such as Smartphones */