/* Defining Special Properties for Small Devices Such as Smartphones */
$height: 750px;


/* media query for the header, to adjust to small screens 
such as mobile devices */

@include mq($until: tablet)  {
    html,
    body,
    header {
        height: $height;
    }
}

/* media query for the header, to adjust to small screens 
such as mobile devices */

/* Defining font sizes for small devices such as \
mobile devices  */

@include mq($until: tablet)  {
    h1 {
        font-size: getGlobalArrayCSSProperties($global,   smallDevicesLayout, h1, font-size);
    }
    h2 {
        font-size: getGlobalArrayCSSProperties($global,   smallDevicesLayout, h2, font-size);
    }
    h3
    {
        font-size: getGlobalArrayCSSProperties($global,   smallDevicesLayout, h3, font-size);
    }
    
    h4 {
        font-size: getGlobalArrayCSSProperties($global,   smallDevicesLayout, h4, font-size);
    }
    .heading-paragraphs {
        font-size: getGlobalArrayCSSProperties($global,   smallDevicesLayout, classHeadingParagraphs, font-size);
    }
    
    .heading-paragraph-items {
        font-size: getGlobalArrayCSSProperties($global,   smallDevicesLayout, classHeadingParagraphItems, font-size);
    }
    #cover-main-header
    {
        margin-top: getGlobalArrayCSSProperties($global,   smallDevicesLayout, idCoverMainHeader, margin-top);
    }
}

/* Defining font sizes for small devices such as \
mobile devices  */



/* Defining Special Properties for Small Devices Such as Smartphones */