/* Highlighted Text Properties */

::-moz-selection {
    background: getGlobalArrayCSSProperties($global, text, background-color-selection);
}

::selection {
    background: getGlobalArrayCSSProperties($global, text, background-color-selection);
    border-bottom: getGlobalArrayCSSProperties($global, text, border-bottom, size) getGlobalArrayCSSProperties($global, text, border-bottom, solid) getGlobalArrayCSSProperties($global, text, border-bottom, color);
}

/* Highlighted Text Properties */