/* import sass mq (https://github.com/sass-mq/sass-mq)*/
@import './_config.scss';
@import 'sass-mq';

/* import sass mq (https://github.com/sass-mq/sass-mq)*/

/* Global Functions */

/* Check If a Map is Really a Map */

@function is-map($map){
    @return type-of($map) == 'map';
  }

/* Check If a Map is Really a Map */

/* Retrieve the global array CSS properties, ie. `getGlobalArrayCSSProperties($gobal, text, border-bottom, size)` */

@function getGlobalArrayCSSProperties($array_name, $sub_array_name, $sub_array_key, $sub_sub_array_key:null) {
    $sub_array:  map-get(map-get($map: $array_name, $key: $sub_array_name), $key: $sub_array_key);
    $sub_sub_array:null;
    @if (is-map($sub_array))
    {
        $sub_sub_array: map-get($map: $sub_array, $key: $sub_sub_array_key);
    }
    @else
    {
        $sub_sub_array: $sub_array;
    } 
    @return $sub_sub_array;
    }

    /* Retrieve the global array CSS properties, ie. `getGlobalArrayCSSProperties($gobal, text, border-bottom, size)` */
 

/* Global Functions */


/*
//////////// Global Variables /////////////
*/

/* Highlighted Text Properties: _text.scss file*/

$global: (
  text: 
  (
    
      border-bottom: 
      (
          size: 1px,
          type: solid,
          color: blue
          ),
          background-color-selection: yellow
          
  ),
  mediumToLargeDevicesLayout: 
  (
      idDesktopHeader: 
      (
          display: flex,
          align-items: center,
        justify-content: center
          ),
        classHeadingParagraphs:
        (
        font-size: 140%
        ),
        classHeadingParagraphItems:
        (
        font-size: 110%
        ),

    h1: 
    (
        font-size: 5em
    ),
    h2: 
    (
        font-size: 3.5em
    ),
    h3: 
    (
        font-size: 2.5em
    ),
    h4: 
    (
        font-size: 2em
    ),
    p: 
    (
        font-size: 1em
    )

          
          
  ),
    smallDevicesLayout:
(
    h1:
    (
        font-size: 3em
    ),
    h2: 
    (
        font-size: 2em
    ),
    h3:
    (
        font-size: 1em
    ),
    
    h4: 
    (
        font-size: 1em
    ),
    classHeadingParagraphs:
    (
        font-size: 110%
    ),
    classHeadingParagraphItems:
    (
        font-size: 110%
    ),
    idCoverMainHeader:
    (
        margin-top: 100px
    )
)
);



/* Highlighted Text Properties: _text.scss file */

/* Global Properties for Medium to Large Devices (width > 767px) */

/* global tags (p, h1, h2, etc) */

$h1-font-size: 5em;
$h2-font-size: 3.5em;
$h3-font-size: 2.5em;
$h4-font-size: 2em;
$p-font-size: 1em;

/* global tags (p, h1, h2, etc) */


/* Custom Global ID's */ 

    

/* Custom Global ID's */ 

/* Global Properties for Medium to Large Devices (width > 767px) */

/*
//////////// Global Variables /////////////
*/