/* Global Styles
////////////////////////////////
*/

/* Import all variables */

@import './_variables.scss';
/* Import global text properties */

@import './_text.scss';
/* Import Media Queries for Small Devices */

@import '_smallDevices';
/* Import Media Queries for Medium to Large Devices */

@import './_mediumToLargeDevices.scss';
/* Import Home Page Styles: Header, Main and Footer: */

/* Header and Main: */

@import '../../../pages/home/home.scss';
/* Footer: */

@import '../../../pages/home/footer/footer.scss';
/* Import Home Page Styles: Header, Main and Footer: */

/* Import Upload Files Styles */

@import '../../../pages/files/upload files/_uploadFiles.scss';
/* Import Upload Files Styles */

/* setting the max height for the navbar */

$navbar_max_height: 80px;
nav {
    padding: 0px;
    margin: 0px;
    max-height: $navbar_max_height;
}

/* setting the max height for the navbar */

/* this fix is required so that the text does not overlap when using the navbar */

body {
    margin-top: $navbar_max_height;
}