/* Home Page Specific Styles */


/* Home Page Variables */

/*  Intro ID Height */
$intro-id-height: 100vh;
/*  Intro ID Height */

/* Home Page Intro Image */
$homepage-image-path:"../../../img/landing-page-cover5.jpg";
/* Home Page Intro Image */



/* Home Page Variables */



/* Import main section styles */
@import './main/_main.scss';
/* Import main section styles */

/* set the intro paragraph to have the height of 100vh*/
html,
body,
header,
#intro {
    height:$intro-id-height;
}
/* set the intro paragraph to have the height of 100vh*/

/* Setting background image for our header and 
defining it as cover*/
#intro {
    background: url($homepage-image-path) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* Setting background image for our header and 
defining it as cover*/

/* Home Page Specific Styles */