$navbar_black_background_color: rgb(38, 38, 38);


/*  Set Navbar Max Height */
 


/*  Set Navbar Max Height */

.navbar-color
{
    background-color: $navbar_black_background_color;
}

/* Padding so that the navbar appears correctly at the top */
// body,
// header {
//     padding-top: 20px;
// }
/* Padding so that the navbar appears correctly at the top */

/* Simple animation for the search bar */
#navbar-search {
    width: 75px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
/* Simple animation for the search bar */
/* Navbar Search Properties */

/* Navbar Search Margin Left */
#navbar-search-div {
    margin-left: 50px;
}
/* Navbar Search Margin Left */


/* Navbar Search Focus animation */
#navbar-search:focus {
    width: 200px;
}
/* Navbar Search Focus animation */
/* Navbar Search Properties */
