$accountSettingsMainDivAlign: center;
$accountSettingsMainDiv-height: 100vh;

.accountSettingsMainDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: flex;
    -webkit-box-align: $accountSettingsMainDivAlign;
    -ms-flex-align: $accountSettingsMainDivAlign;
    align-items: $accountSettingsMainDivAlign;
    -webkit-box-pack: $accountSettingsMainDivAlign;
    -ms-flex-pack: $accountSettingsMainDivAlign;
    justify-content: $accountSettingsMainDivAlign;
    height: $accountSettingsMainDiv-height;
}

.contentTitle {
    font-size: 22px;
}

#sidebar > ul {
    list-style: none;
    padding: 0;
}

.sidebarText {
    padding-left: 8px;
    font-size: 13px;
}

.contentText,
%contentText {
    font-size: 14px;
    margin-top: 100px;
}

.contentTextTitle {
    @extend %contentText;

    font-weight: bold;
}

.accountTableData {
    padding-left: 80px;
}
