$leftSideBar-backgroundColor: "#F7F9FA";
$leftSideBar-marginLeft: "50px";
$leftSideBar-height: 100vh;
#leftSideBar {
    background: #F7F9FA;
    margin-left: $leftSideBar-marginLeft;
}

/* UploadFilesIntro ID Height */

/* set the uploadFiles intro paragraph to have the height of 100vh*/

html,
body,
header,
#leftSideBar {
    height: $leftSideBar-height;
}