/* Divs background colors */

/* Variables */
$section-gdpr-background-color: rgb(61, 70, 79);
$section-features-background-color: #fff4f2;
$section-how-it-works-background-color:rgb(204, 204, 204);


/* Variables */




/* section gdpr */
#section-gdpr {
    background-color:$section-gdpr-background-color;
}
/* section gdpr */

/* section features */
#section-features {
    background-color: $section-features-background-color;
}
/* section features */

/* section how it works */
#section-how-it-works {
    background-color: $section-how-it-works-background-color;
}
/* section how it works */




/* Divs background colors */

/* Icon Properties */
/* IPFS Icon */
#ipfs-icon {
    height: 20%;
}
/* IPFS Icon */
/* Icon Properties */

