/* Footer Properties */ 

/* Footer Variables */

$footer-background-color: rgb(38, 38, 38);
$footer-content-hover-color: rgba(57, 186, 145, .8);



/* Footer Variables */



/* footer background color */

#footer-background {
    background-color: $footer-background-color;
}

.footer-content:hover {
    color: $footer-content-hover-color;
}

/* footer background color */

/* Footer Properties */ 