// body {
//   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
//   font-weight: 300;
//   font-size: 14px;
// }
/* UploadFilesIntro ID Height */

$intro-id-height: 100vh;
/* UploadFilesIntro ID Height */

/* set the uploadFiles intro paragraph to have the height of 100vh*/

html,
body,
header,
#uploadFilesIntro {
  height: $intro-id-height;
}

/* set the uploadFiles header paragraph to have the height of 100vh*/

#uploadFilesHeader {
  // margin-top: 200px;
  display: flex;
  justify-content: center;
}